@model IEnumerable< TranMinhKhoi_com_vn.Entities.Blog>


<div class="container custom-mt" style="margin-top: 60px;">
    <div id="tabber-BX">
        <div class="LayoutContent-70 nosidebar">
            <header>
                <h1 class="entry-title">Blog @ViewContext.RouteData.Values["Action"]?.ToString() New </h1>
            </header>
            @foreach (var item in Model)
            {
                <div class="BlogPostList">
                    <article id="post-464"
                             class="post-464 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

                        <div class="hg-blog-img">
                            <a asp-action="BlogDetails" asp-route-id="@item.Id">
                                <img fetchpriority="high" width="1024" height="614"
                                     src="~/contents/Images/Blog/@item.Image"
                                     class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                            </a>
                        </div>
                        <header class="entry-header">
                            <div class="blog-postmeta">

                                <div class="post-date"> <i class="far fa-clock"></i> @item.Cdt?.ToString("dd-MM-yyyy")</div><!-- post-date -->
                                <span class="blog-postcat">
                                   @*  <i class="fa-solid fa-comments"></i> <a href="#">
                                        No
                                        Comments
                                    </a> *@
                                </span>

                            </div><!-- .blog-postmeta -->
                            <h3>
                                <a asp-action="BlogDetails" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            </h3>
                        </header><!-- .entry-header -->

                        <div class="entry-summary">
                            @{
                                var desc = item.Description ?? "";
                                var shortDesc = desc.Length > 100 ? desc.Substring(0, 100) : desc;
                                var showReadMore = desc.Length > 100;
                                var descId = "desc_" + item.Id;
                            }
                            <p style="font-family: 'Roboto', Arial, Helvetica, sans-serif !important">
                                <span id="@descId">
                                    @shortDesc
                                    @if (showReadMore)
                                    {
                                        @* <span>... <a href="javascript:void(0);" onclick="showFullDesc('@descId', `@desc.Replace("`", "\\`")`, `@shortDesc`)">Xem thêm</a></span> *@
                                        <span>... <a asp-action="BlogDetails" asp-route-id="@item.Id">Xem thêm</a></span>
                                    }
                                </span>
                            </p>
                            <a class="morebutton"
                               asp-action="BlogDetails" asp-route-id="@item.Id">
                                Read More
                            </a>
                        </div><!-- .entry-summary -->

                        <div class="clear"></div>
                    </article><!-- #post-## -->
                </div>

            }



        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    function showFullDesc(id, fullText, shortText) {
        var el = document.getElementById(id);
        if (el.getAttribute('data-full') === '1') {
            el.innerHTML = shortText + '... <a href="javascript:void(0);" onclick="showFullDesc(\'' + id + '\', `' + fullText.replace(/`/g, "\\`") + '`, `' + shortText.replace(/`/g, "\\`") + '`);">Xem thêm</a>';
            el.setAttribute('data-full', '0');
        } else {
            el.innerHTML = fullText + ' <a href="javascript:void(0);" onclick="showFullDesc(\'' + id + '\', `' + fullText.replace(/`/g, "\\`") + '`, `' + shortText.replace(/`/g, "\\`") + '`);">Ẩn bớt</a>';
            el.setAttribute('data-full', '1');
        }
    }
</script>
 