@{

    var userName = User.Identity?.Name;
    var lastWord = userName?.Split(' ').Last();
}


<div id="masthead" class="site-header ">

    <div class="LgoBX">

        <div class="hdr-topstrip">
            <div class="container">
                <div class="hdrdetail">
                    <div class="infoBx">

                        <div class="header-top-area-left">
                            <div class="hdrtop-Info hdrsocial">
                                <a style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/KaitoAgency1008/"></a>

                                <a style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fa-brands fa-x-twitter" target="_blank" href="#"></a>

                                <a style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fab fa-linkedin" target="_blank" href="#"></a>


                            </div>
                        </div>
                        <div class="header-top-area-right">
                            <div class="heade-top-area-mail heade-top-area-add">
                                <i style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fas fa-phone-alt"></i><a style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")">
                                    +84
                                    5854 00000
                                </a>
                            </div>
                            <div class="heade-top-area-mail">
                                <i style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fas fa-envelope"></i><a style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")"
                                                                                                                                                                                                                                   href="mailto:info@website.com">Tranminhkhoifacebook123@gmail.com </a>
                            </div>
                            <div class="heade-top-area-mail" style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")">
                                <i style="color:@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "" : "black")" class="fas fa-map-marker-alt"></i>Bình Thạnh - TP.Hồ Chí
                                Minh
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- .infoBx-->
                </div><!-- .hdrdetail-->
                <div class="clear"></div>
            </div><!-- .container -->
        </div><!-- .hdr-topstrip -->
        <div class="clear"></div>
        <div class="header_menu_area">
            <div class="container">

                <div style="float: left;
                                text-align: left;
                                padding: 25px 0px 15px 0px;
                                position: relative;
                                z-index: 999;">

                    <a asp-action="Index" asp-controller="Home" style="
                    font-weight: bold;
                    font-size: 24px;
                    color: white;
                    text-decoration: none;
                    font-family: 'Tim', sans-serif;

                    ">
                        TranMinhKhoi
                    </a>

                </div>

                <div id="navigationpanel" style="float: right;">
                    <nav id="main-navigation" class="site-navigation" role="navigation" aria-label="Primary Menu">
                        <button type="button" class="menu-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="menu-header-container">
                            <ul id="primary-menu" class="nav-menu" style="padding:10px;font-size: 16px;">
                                <li id="menu-item-385"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Profile" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-385">
                                    <a asp-action="Profile" asp-controller="Home" aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Profile" ? "page" : "")">PROFILE</a>
                                </li>
                                <li id="menu-item-386"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Social" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-386">
                                    <a asp-action="Social" asp-controller="Home"
                                       aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Social" ? "page" : "")">SOCIAL</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Politics" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-396">
                                    <a asp-action="Politics" asp-controller="Home" aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Politics" ? "page" : "")">POLITICS</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Competion" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-396">
                                    <a asp-action="Competion" asp-controller="Home" aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Competion" ? "page" : "")">COMPETION</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Fund" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-396">
                                    <a asp-action="Fund" asp-controller="Home" aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Fund" ? "page" : "")">FUND</a>
                                </li>
                                <li id="menu-item-396"
                                    class="menu-item menu-item-type-post_type menu-item-object-page @(ViewContext.RouteData.Values["Controller"]?.ToString() == "StudentLife" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "menu-item-home current-menu-item page_item page-item-383 current_page_item" : "") menu-item-396">
                                    <a asp-action="Index" asp-controller="StudentLife" aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "StudentLife" &&ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "page" : "")">STUDENT LIFE</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li id="menu-item-387"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-387">
                                        <a style="color:white">Hi @lastWord  </a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-388"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                                                <a asp-controller="Account" asp-action="Profile">About Me</a>
                                            </li>
                                            <li id="menu-item-388"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                                                <a asp-controller="Account" asp-action="Logout">LogOut</a>
                                            </li>

                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li id="menu-item-login"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-login">
                                        <a asp-action="Login" asp-controller="Account"
                                           style="color:white; margin-left:10px;">LOGIN</a>
                                    </li>

                                }

                            </ul>
                        </div>
                    </nav><!-- #main-navigation -->
                    <div class="clear"></div>
                </div>


                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

    </div><!-- .LgoBX -->
</div><!--.site-header -->
