@model IEnumerable<TranMinhKhoi_com_vn.Entities.Blog>


<style>

    .blog-image img {
        width: 170px;
        height: 120px;
        object-fit: cover;
        border-radius: 16px;
        display: block; 
        margin: 0 auto;
    }

</style>

<div class="El-Full-width">
    <div class="post-383 page type-page status-publish hentry" id="post-383">
        <div class="entry-content">


            <div data-elementor-type="wp-page" data-elementor-id="383" class="elementor elementor-383">

                <div class="elementor-element elementor-element-547c0c1 e-flex e-con-boxed e-con e-parent" data-id="547c0c1" data-element_type="container">

                    <div class="e-con-inner">

                        <div class="elementor-element elementor-element-57edfc02 e-con-full section1_box e-flex e-con e-child" data-id="57edfc02" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-5a0d1f29 elementor-widget elementor-widget-image" data-id="5a0d1f29" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-action="Profile">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image1.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-24036093 e-con-full section1_cont_box e-flex e-con e-child" data-id="24036093" data-element_type="container">
                                <div class="elementor-element elementor-element-78963143 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="78963143" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-action="Profile">PROFILE</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e97afe0 elementor-align-center elementor-widget elementor-widget-button" data-id="7e97afe0" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" asp-action="Profile">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="elementor-element elementor-element-6282f8ad e-con-full section1_box e-flex e-con e-child" data-id="6282f8ad" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-16657269 elementor-widget elementor-widget-image" data-id="16657269" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-action="Social">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image2.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-97e5d6e e-con-full section1_cont_box e-flex e-con e-child" data-id="97e5d6e" data-element_type="container">
                                <div class="elementor-element elementor-element-4eb21940 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="4eb21940" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-action="Social">SOCIAL</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e80394f elementor-align-center elementor-widget elementor-widget-button" data-id="7e80394f" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" asp-action="Social">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="elementor-element elementor-element-6ab7c935 e-con-full section1_box e-flex e-con e-child" data-id="6ab7c935" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-56711a3a elementor-widget elementor-widget-image" data-id="56711a3a" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-action="Politics">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image3.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1d4760e5 e-con-full section1_cont_box e-flex e-con e-child" data-id="1d4760e5" data-element_type="container">
                                <div class="elementor-element elementor-element-3ca8a03a elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="3ca8a03a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-action="Politics">POLITICS</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-12e426d2 elementor-align-center elementor-widget elementor-widget-button" data-id="12e426d2" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" asp-action="Politics">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


                <div class="elementor-element elementor-element-547c0c1 e-flex e-con-boxed e-con e-parent" data-id="547c0c1" data-element_type="container">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-57edfc02 e-con-full section1_box e-flex e-con e-child" data-id="57edfc02" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-5a0d1f29 elementor-widget elementor-widget-image" data-id="5a0d1f29" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-action="Competion">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image1.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-24036093 e-con-full section1_cont_box e-flex e-con e-child" data-id="24036093" data-element_type="container">
                                <div class="elementor-element elementor-element-78963143 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="78963143" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-action="Competion">COMPETION</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e97afe0 elementor-align-center elementor-widget elementor-widget-button" data-id="7e97afe0" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" asp-action="Competion">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6282f8ad e-con-full section1_box e-flex e-con e-child" data-id="6282f8ad" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-16657269 elementor-widget elementor-widget-image" data-id="16657269" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-action="Fund">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image2.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-97e5d6e e-con-full section1_cont_box e-flex e-con e-child" data-id="97e5d6e" data-element_type="container">
                                <div class="elementor-element elementor-element-4eb21940 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="4eb21940" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-action="Fund">FUND</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-7e80394f elementor-align-center elementor-widget elementor-widget-button" data-id="7e80394f" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" asp-action="Fund">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Read More</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6ab7c935 e-con-full section1_box e-flex e-con e-child" data-id="6ab7c935" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-element elementor-element-56711a3a elementor-widget elementor-widget-image" data-id="56711a3a" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a asp-controller="StudentLife" asp-action="Index">
                                        <img decoding="async" src="~/user/theme-images/home-styling-interior/images/service/image3.png" title="" alt="" loading="lazy" />
                                    </a>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-1d4760e5 e-con-full section1_cont_box e-flex e-con e-child" data-id="1d4760e5" data-element_type="container">
                                <div class="elementor-element elementor-element-3ca8a03a elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="3ca8a03a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            <a asp-controller="StudentLife" asp-action="Index">STUDENT LIFE</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-12e426d2 elementor-align-center elementor-widget elementor-widget-button" data-id="12e426d2" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <a class="elementor-button elementor-button-link elementor-size-sm" asp-controller="StudentLife" asp-action="Index" style="pointer-events: none; opacity: 0.5; cursor: not-allowed;">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Read More</span>
                                                    </span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="elementor-button elementor-button-link elementor-size-sm" asp-controller="StudentLife" asp-action="Index">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Read More</span>
                                                    </span>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="elementor-element elementor-element-4a3db5d9 e-flex e-con-boxed e-con e-parent" data-id="4a3db5d9" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-19135bb2 elementor-widget elementor-widget-heading" data-id="19135bb2" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h5 class="elementor-heading-title elementor-size-default">From The Blog</h5>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-25849f7e elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading" data-id="25849f7e" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Latest News & Articles</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7480408c e-flex e-con-boxed e-con e-child" data-id="7480408c" data-element_type="container">
                            <div class="e-con-inner">

                                @foreach (var item in Model)
                                {
                                    <div class="elementor-element elementor-element-43a31f2c e-con-full work_box e-flex e-con e-child" data-id="43a31f2c" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-element elementor-element-7d7d4396 process_box_number elementor-widget elementor-widget-heading" data-id="7d7d4396" data-element_type="widget" data-widget_type="heading.default">
                                        </div>
                                        <div class="elementor-element elementor-element-60a15094 process_box elementor-position-top elementor-widget elementor-widget-image-box" data-id="60a15094" data-element_type="widget" data-widget_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <div class="blog-image">
                                                        <a asp-action="BlogDetails" asp-route-id="@item.Id">

                                                        <img style="border-radius: 10%;" width="170" height="170" src="~/contents/Images/Blog/@item.Image" alt="" />
                                                        </a>
                                                    </div>

                                                    <div class="elementor-image-box-content" style="margin-top:30px">
                                                        <h3 class="elementor-image-box-title">
                                                            <a asp-action="BlogDetails" asp-route-id="@item.Id">
                                                                @item.Title
                                                            </a>
                                                        </h3>
                                                        <p class="elementor-image-box-description">
                                                            @{
                                                                var desc = item.Description ?? "";
                                                                var shortDesc = desc.Length > 100 ? desc.Substring(0, 100) : desc;
                                                                var showReadMore = desc.Length > 100;
                                                                var descId = "desc_" + item.Id;
                                                            }  
                                                            <span id="@descId">
                                                                @shortDesc
                                                                @if (showReadMore)
                                                                {
                                                                    @* <span>... <a href="javascript:void(0);" onclick="showFullDesc('@descId', `@desc.Replace("`", "\\`")`, `@shortDesc`)">Xem thêm</a></span> *@
                                                                    <span>... <a asp-action="BlogDetails" asp-route-id="@item.Id">Xem thêm</a></span>
                                                                }
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }




                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div><!--.El-Full-width-->

@section Scripts {
    <script>
        function showFullDesc(id, fullText, shortText) {
            var el = document.getElementById(id);
            if (el.getAttribute('data-full') === '1') {
                el.innerHTML = shortText + '... <a href="javascript:void(0);" onclick="showFullDesc(\'' + id + '\', `' + fullText.replace(/`/g, "\\`") + '`, `' + shortText.replace(/`/g, "\\`") + '`);">Xem thêm</a>';
                el.setAttribute('data-full', '0');
            } else {
                el.innerHTML = fullText + ' <a href="javascript:void(0);" onclick="showFullDesc(\'' + id + '\', `' + fullText.replace(/`/g, "\\`") + '`, `' + shortText.replace(/`/g, "\\`") + '`);">Ẩn bớt</a>';
                el.setAttribute('data-full', '1');
            }
        }
    </script>
}
